name: Build Fullstack API
on:
  push:
    branches:
      - 'main'

jobs:
  build-project:
    name: Build project
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use variables
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm install
      - run: npm run db:migrate:deploy
        env:
          DATABASE_URL: ${{ vars.DATABASE_URL }}
      - run: npm run db:seed
        env:
          DEFAULT_USER: ${{ vars.DEFAULT_USER }}
          DEFAULT_PASSWORD: ${{ vars.DEFAULT_PASSWORD }}
      - run: npm run build
      - run: npm npm run start
